* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.head {
  background: black;
  height: 80px; }

.head-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  gap: 20px;
  padding-top: 30px;
  padding-left: 20px; }

.head-setion-two {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  margin-top: -20px;
  margin-right: 20px; }

.img {
  height: 30px;
  border-radius: 50px;
  width: 30px; }

.select {
  width: 20px;
  height: 20px;
  background: gainsboro;
  color: white; }

li {
  list-style: none;
  font-size: 15px;
  font-family: sans-serif; }

.button {
  background: black;
  border: 1px solid gray;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  color: gainsboro; }

.head-section-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: white;
  border-bottom: 1px solid  gainsboro;
  height: 80px;
  padding-top: 20px; }

.btn {
  background: white;
  border: none; }
  .btn__link {
    text-decoration: none; }
  .btn__text {
    font-size: 15px;
    color: gray;
    font-family: sans-serif;
    font-style: normal; }

.btn:hover {
  background: gainsboro;
  height: 40px;
  border-radius: 5px; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 300px; }

.main-left {
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.imgage {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin-top: -10px; }

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.name-user {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold; }

.name-user-small {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  color: gray; }

.name-user-infor {
  text-align: center;
  font-family: sans-serif;
  font-size: 17px; }

.user-btn__btn {
  width: 300px;
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background: ghostwhite; }

.follow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: sans-serif;
  font-size: 15px; }

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px; }

.main-rigth {
  width: 50%; }

.information {
  border: 1px solid gainsboro;
  height: 500px;
  border-radius: 10px;
  padding: 20px; }

.head-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif; }
  .head-info__text {
    font-size: 12px;
    color: gray; }

.head-logo {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gainsboro; }
  .head-logo__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif; }

.head-logo-two {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 20px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px; }

.head-img {
  border-bottom: 1px solid gainsboro;
  padding-top: 10px; }

.find-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px; }
  .find-link__text {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .find-link__para {
    font-size: 15px;
    font-family: sans-serif;
    color: gray; }

.url {
  font-size: 15px;
  color: blue; }
