* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.head {
  background: black;
  height: 80px; }

.head-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  gap: 20px;
  padding-top: 30px;
  padding-left: 20px; }

.head-setion-two {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  margin-top: -20px;
  margin-right: 20px; }
  @media screen and (max-width: 1500px) {
    .head-setion-two {
      display: none; } }

.img {
  height: 30px;
  border-radius: 50px;
  width: 30px; }

.select {
  width: 20px;
  height: 20px;
  background: gainsboro;
  color: white; }

li {
  list-style: none;
  font-size: 15px;
  font-family: sans-serif; }
  @media screen and (max-width: 550px) {
    li {
      font-size: 13px; } }

.button {
  background: black;
  border: 1px solid gray;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  color: gainsboro; }
  @media screen and (max-width: 550px) {
    .button {
      display: none; } }

.head-section-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: white;
  border-bottom: 1px solid  gainsboro;
  height: 80px;
  padding-top: 20px; }

.btn {
  background: white;
  border: none; }
  .btn__link {
    text-decoration: none; }
  .btn__text {
    font-size: 15px;
    color: gray;
    font-family: sans-serif;
    font-style: normal; }

.btn:hover {
  background: gainsboro;
  height: 40px;
  border-radius: 5px; }

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 300px; }
  @media screen and (max-width: 1500px) {
    .main {
      gap: 200px; } }
  @media screen and (max-width: 800px) {
    .main {
      gap: 180px; } }

.main-left {
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 700px) {
    .main-left {
      display: none; } }
  @media screen and (max-width: 550px) {
    .main-left {
      display: none; } }

.imgage {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin-top: -220px; }
  @media screen and (max-width: 1500px) {
    .imgage {
      margin-top: -350px; } }
  @media screen and (max-width: 950px) {
    .imgage {
      margin-top: -1050px;
      width: 200px;
      height: 200px; } }
  @media screen and (max-width: 800px) {
    .imgage {
      margin-top: -900px; } }

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }

.name-user {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold; }
  @media screen and (max-width: 950px) {
    .name-user {
      font-size: 15px; } }

.name-user-small {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  color: gray; }
  @media screen and (max-width: 950px) {
    .name-user-small {
      font-size: 15px; } }

.name-user-infor {
  text-align: center;
  font-family: sans-serif;
  font-size: 17px; }
  @media screen and (max-width: 950px) {
    .name-user-infor {
      font-size: 15px; } }

.user-btn__btn {
  width: 300px;
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background: ghostwhite; }

@media screen and (max-width: 1000px) {
  .user-btn {
    width: 250px; } }

.follow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: sans-serif;
  font-size: 15px; }
  @media screen and (max-width: 950px) {
    .follow {
      font-size: 13px; } }

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px; }
  @media screen and (max-width: 950px) {
    .location {
      font-size: 13px; } }

.main-rigth {
  width: 50%; }
  @media screen and (max-width: 1500px) {
    .main-rigth {
      height: 900px; } }
  @media screen and (max-width: 950px) {
    .main-rigth {
      height: 1500px; } }
  @media screen and (max-width: 800px) {
    .main-rigth {
      height: 1300px; } }
  @media screen and (max-width: 750px) {
    .main-rigth {
      width: 80%; } }
  @media screen and (max-width: 550px) {
    .main-rigth {
      width: 85%; } }

.information {
  border: 1px solid gainsboro;
  height: 500px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px; }

.head-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif; }
  .head-info__text {
    font-size: 12px;
    color: gray; }

.head-logo {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gainsboro; }
  .head-logo__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif; }
    @media screen and (max-width: 950px) {
      .head-logo__text {
        font-size: 30px; } }

.log-hand {
  height: 40px; }

.head-logo-two {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 20px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px; }

.head-img {
  border-bottom: 1px solid gainsboro;
  padding-top: 10px; }

.find-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px; }
  .find-link__text {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold; }
  .find-link__para {
    font-size: 15px;
    font-family: sans-serif;
    color: gray; }
    @media screen and (max-width: 950px) {
      .find-link__para {
        font-size: 12px; } }

.url {
  font-size: 15px;
  color: blue; }
  @media screen and (max-width: 950px) {
    .url {
      font-size: 12px; } }

.content-project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media screen and (max-width: 800px) {
    .content-project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

@media screen and (max-width: 1500px) {
  .img-text {
    width: 600px; } }

@media screen and (max-width: 1024px) {
  .img-text {
    width: 480px; } }

@media screen and (max-width: 950px) {
  .img-text {
    width: 400px; } }

@media screen and (max-width: 800px) {
  .img-text {
    width: 350px; } }

.project {
  width: 380px;
  height: 100px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-family: sans-serif;
  font-size: 15px; }
  @media screen and (max-width: 1500px) {
    .project {
      width: 300px; } }
  @media screen and (max-width: 1024px) {
    .project {
      width: 250px; } }
  @media screen and (max-width: 800px) {
    .project {
      width: 300px; } }

.btn-project {
  width: 50px;
  height: 20px;
  background: white;
  border-radius: 50px;
  border: 1px solid gainsboro;
  font-size: 12px; }
