* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.head {
    background: black;
    height: 80px;

}
.head-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    gap: 20px;
    padding-top: 30px;
    padding-left: 20px;

}
.head-setion-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-top: -20px;
    margin-right: 20px;
    
}
.img {
    height: 30px;
    border-radius: 50px;
    width: 30px;
}
.select {
    width: 20px;
    height: 20px;
    background: gainsboro;
    color: white;
} 

li{
   
    list-style: none;
    font-size: 15px;
    font-family: sans-serif;
}
.button {
    background:black;
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px;
    height: 25px;
    color: gainsboro;
}
// head-section-two 
.head-section-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    border-bottom: 1px solid  gainsboro;
    height: 80px;
    padding-top: 20px;
}
.btn {
    background: white;
    border:none;
    &__link {
        text-decoration: none;

    }
    &__text {
        font-size: 15px;
        color: gray;
        font-family: sans-serif;
        font-style: normal;
    
    }

}
.btn:hover{
    background: gainsboro;
    height: 40px;
    border-radius: 5px;

}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 300px;
}
.main-left {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-rigth {
    width: 50%;
    background: red
}
// left section 
.imgage{
    width: 300px; 
    height: 300px;
    border-radius: 200px;
    margin-top: -10px;
}
.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.name-user {
    text-align: center;

}