

//main section
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 300px;
    @media screen and (max-width:1500px) {
     gap: 200px;        
    }
    @media screen and (max-width:800px) {
        gap: 180px
        
        
    }
   
}
.main-left {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:700px) {
        display: none;  
    }
    @media screen and (max-width:550px) {
        display: none;  
    }


}

// left section 
.imgage{
    width: 300px; 
    height: 300px;
    border-radius: 200px;
    margin-top: -220px;
    @media screen and (max-width:1500px) {
        margin-top: -350px
        
    }
    @media screen  and (max-width:950px){
        margin-top: -1050px;
        width: 200px;
        height: 200px;
        
    }
    @media screen and (max-width:800px) {
        margin-top: -900px
        
    }

}
.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.name-user {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    @media screen and (max-width:950px) {
        font-size: 15px;
        
    }

}
.name-user-small {
    text-align: center;
    font-family:sans-serif;
    font-size: 18px;
    color: gray;
    @media screen and (max-width:950px) {
        font-size: 15px;
        
    }

  
}
.name-user-infor {
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    @media screen and (max-width:950px) {
        font-size: 15px;
        
    }  
}
.user-btn {
    &__btn {
        width: 300px;
        height: 40px;
        border: 1px solid gainsboro;
        border-radius: 10px;
        background: ghostwhite;

    }
    @media screen  and (max-width:1000px){
        width: 250px;
        
    }
}
// follow section 
.follow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: sans-serif;
    font-size: 15px;
    @media screen and (max-width:950px) {
        font-size: 13px;
        
    }

}
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    @media screen and (max-width:950px) {
        font-size: 13px;
        
    }

}
// information
.main-rigth {
    width: 50%;
    @media screen and (max-width:1500px) {
        height: 900px;
        
    }
    @media screen  and (max-width:950px){
        height: 1500px;
        
    }
    @media screen and (max-width:800px) {
        height: 1300px;
        
    }
    @media screen and (max-width:750px) {
        width: 80%;
        
    }
    @media screen and (max-width:550px) {
        width: 85%;
        
    }
}
.information {
   border: 1px solid gainsboro;
   height: 500px;
   border-radius: 10px;
   padding: 20px;
   margin-top: 20px;
   
   
}
.head-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
   
   &__text {
       font-size: 12px;
       color: gray;

   }
}
.head-logo {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gainsboro;
    &__text {
        font-size: 40px;
        font-weight: bold;
        font-family: sans-serif;
        @media screen and (max-width:950px) {
            font-size: 30px;
            
        }
    }
}
.log-hand {
    height: 40px;
}
.head-logo-two {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}
// head-img.
.head-img {
    border-bottom: 1px solid gainsboro;
    padding-top: 10px;
}
.find-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    &__text {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    &__para {
        font-size: 15px;
        font-family: sans-serif;
        color: gray;
        @media screen  and (max-width:950px){
            font-size: 12px;
            
        }

    }

}
.url {
    font-size: 15px;
    color: blue;
    @media screen  and (max-width:950px){
        font-size: 12px;
        
    }
}
// section prject 
.content-project {
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 20px;
     padding-top: 20px;
     padding-bottom: 20px;
     @media screen and (max-width:800px) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
        
        
    }

    

}
.img-text {
    @media screen  and (max-width:1500px){
        width: 600px;
        
    }
    @media screen  and (max-width:1024px){
        width: 480px
        
    }
    @media screen  and (max-width:950px){
        width: 400px
        
    }
    @media screen and (max-width:800px) {
        width: 350px;
        
    }

}
.project {
    width:380px;
    height: 100px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: sans-serif;
    font-size: 15px;
    @media screen and (max-width:1500px) {
        width: 300px
         
         
    }
    @media screen  and (max-width:1024px){
        width: 250px
        
    }
    @media screen and (max-width:800px) {
        width: 300px;
        
    }
}
.btn-project {
    width: 50px;
    height: 20px;
    background: white;
    border-radius: 50px ;
    border: 1px solid gainsboro;
    font-size: 12px;

}
#links{
    text-decoration: none;
    color: black;

}